{% extends "layout" %}

{% block content %}
  <div class="ui main container profile-page">
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui cards">
          <div class="card">
            <div class="image">
              <img src="https://pp.vk.me/c421124/v421124334/45c/qEe_d7NmTek.jpg" alt="" class="ui rounded image">
            </div>
            <div class="content">
              <div class="header">Timur Zurbaev</div>
              <div class="meta">Following</div>
              <div class="description">
                24yo, Ulan-Ude
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="user icon"></i> 25 Following
              </span>
              <span>
                <i class="user icon"></i> 75 Followers
              </span>
            </div>
          </div>
        </div>
        <div class="profile-action-buttons">
          {# <button class="ui positive basic button"><i class="add user icon"></i> Follow</button> #}
          <button class="ui orange basic button"><i class="remove user icon"></i> Unfollow</button>
          <button class="ui negative basic button"><i class="ban icon"></i> Block</button>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui large feed">
          <div class="event">
            <div class="label">
              <img src="https://pp.vk.me/c421124/u13133334/e_13d36e5e.jpg" alt="">
            </div>
            <div class="content">
              <div class="summary">
                <a href="javascript:;" class="user">Timur Zurbaev</a> posted a photo
                <div class="date">1 Hour Ago</div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="extra images">
                <img src="http://semantic-ui.com/images/wireframe/image.png" alt="">
                <img src="http://semantic-ui.com/images/wireframe/image.png" alt="">
              </div>
              <div class="meta">
                <a href="javascript:;" class="like"><i class="like icon"></i> 4 Likes</a>
              </div>
              <h3 class="ui dividing header">Comments</h3>
              <div class="ui comments">
                <div class="comment">
                  <a href="javascript:;" class="avatar"><img src="https://pp.vk.me/c421124/u13133334/e_13d36e5e.jpg" alt=""></a>
                  <div class="content">
                    <a href="javascript:;" class="author">Timur Zurbaev</a>
                    <div class="metadata">
                      <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">How Artistic!</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="event">
            <div class="label">
              <img src="https://pp.vk.me/c421124/u13133334/e_13d36e5e.jpg" alt="">
            </div>
            <div class="content">
              <div class="summary">
                <a href="javascript:;" class="user">Timur Zurbaev</a> posted a photo
                <div class="date">1 Hour Ago</div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="extra images">
                <img src="http://semantic-ui.com/images/wireframe/image.png" alt="">
                <img src="http://semantic-ui.com/images/wireframe/image.png" alt="">
              </div>
              <div class="meta">
                <a href="javascript:;" class="like"><i class="like icon"></i> 4 Likes</a>
              </div>
              <h3 class="ui dividing header">Comments</h3>
              <div class="ui comments">
                <div class="comment">
                  <a href="javascript:;" class="avatar"><img src="https://pp.vk.me/c421124/u13133334/e_13d36e5e.jpg" alt=""></a>
                  <div class="content">
                    <a href="javascript:;" class="author">Timur Zurbaev</a>
                    <div class="metadata">
                      <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">How Artistic!</div>
                  </div>
                  <div class="actions">
                    <a href="javascript:;" class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}