.ui.feed {
  .event {
    padding: .6em;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 1em;
    box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;

    &:first-child {
      padding-top: .6em;
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: .6em;
    }
  }
}
